  <p>
     La respuesta <strong> <%= answer %> </strong> es <%= result %>.
  </p>

  <p>
<a href="/quizzes/<%= quiz.id %>?answer=<%= answer %>"> Inténtelo otra vez </a>
</p>
<p><br/></p>


<a href="/quizzes"><button type="button">Cancelar</button></a>


  
